* {
    font-family: 'mulish', sans-serif;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
}

.bold {    
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.formfonts {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;    
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    margin-bottom: 12px;
}

h4 {    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
}